{% extends 'base.html' %}
{% load bootstrap3 %}

<div id="autocollapse" class="navbar four columns">

    <div class="navbar-header row">
        <div class="navbar-brand">The Whiz Memoir</div>
        <a href="javascript:void(0)" id="navbar-toggle" class="u-pull-right">
            <img src="{% static 'img/menu-toggle.png' %}">
        </a>
    </div>
    <div class="navbar-body">
        <div class="section">
            
            
            <div class="row">
                <h4 class="text-right"><a href="{% url 'view_future' %}">All Upcoming</a></h4>
            </div>
            <div class="row">
                <h4 class="text-right"><a href="{% url 'view_chronicles' %}">Chronicles</a></h4>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="text-right">
                    <h5>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Log In / Register</a>
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>